#Good read: https://booker.codes/how-to-build-and-publish-es6-npm-modules-today-with-babel/
# from http://stackoverflow.com/a/29932318/968988
# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!documentation
!dist
!src
!build
!masala-parser.d.ts
# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log